{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="submit__button-wrap">
  <button{{ attributes }} aria-label="{{ 'Submit'|t }}">
    {{ attributes.storage.value }}
  </button>
</div>
