{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header role="banner">
    {{ page.utility }}
    {{ page.branding }}
    {{ page.primary_nav }}
  </header>

  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}

  {{ page.content_top }}

  {{ page.help_messages }}

  <main role="main">
    {# Link is in html.html.twig. #}
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="l-sidebar" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}

    {{ page.content_bottom }}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer_upper }}
      {{ page.footer_lower }}
    </footer>
  {% endif %}

  {# Note you may need to adjust this region placement depending
  on what type of mobile navigation is used (if any). #}
  {% if page.off_canvas_nav %}
  <footer role="contentinfo">
    {{ page.off_canvas_nav }}
  </footer>
  {% endif %}

</div>{# /.layout-container #}
